<h1 class = 'col-md-offset-3 col-md-6 form-group'>Register User</h1>

<%= form_for @user do |f| %>
    <% flash.each do |key, msg| %>
        <div><%= msg %></div>
    <% end %>

  <div class = 'col-md-offset-3 col-md-6 form-group'>
    <%= f.label :username %>
    <%= f.text_field :username, :class => "form-control" %>
  </div>

  <div class = 'col-md-offset-3 col-md-6 form-group'>
    <%= f.label :email %>
    <%= f.email_field :email, :class => "form-control" %>
  </div>

  <div class = 'col-md-offset-3 col-md-6 form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control" %>
  </div>

  <div class = 'col-md-offset-3 col-md-6 form-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>

  <div class = 'col-md-offset-3 col-md-6'>
   <%= f.submit  "Register" %>
   </div>
<% end %>
